<section>
  <form [formGroup]="applyForm" (submit)="submitApplication()">
    <label>Name: <input type="text" formControlName="name" /></label>
    <label>City: <input type="text" formControlName="city" /></label>
    <label>State: <input type="text" formControlName="state" /></label>
    <label>Photo: <input type="text" formControlName="photo" /></label>
    <label
      >AvailableUnits: <input type="number" formControlName="availableUnits"
    /></label>
    <label>Wifi: <input type="checkbox" formControlName="wifi" /></label>
    <label>Laundry: <input type="checkbox" formControlName="laundry" /></label>
    <button type="submit">Submit</button>
  </form>
</section>

<section class="listing-description">
  <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
  <p class="listing-location">
    {{ housingLocation?.city }}, {{ housingLocation?.state }}
  </p>
</section>
<section class="listing-features">
  <h2 class="section-heading">About this housing location</h2>
  <ul>
    <li>Units available: {{ housingLocation?.availableUnits }}</li>
    <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
    <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
  </ul>
</section>
