<div class="login-container">
    <div class="login-card">
        <h2>Login (Local)</h2>
        <div class="form-group">
            <label for="username">Usuario</label>
            <input type="text" id="username" [(ngModel)]="username" placeholder="Introduce tu usuario">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" [(ngModel)]="password" placeholder="Introduce tu contraseña">
        </div>

        @if (errorMessage) {
        <div class="error-message">
            {{ errorMessage }}
        </div>
        }

        <button (click)="onLogin()">Iniciar Sesión</button>

        <div class="switch-auth">
            ¿No tienes cuenta? <a (click)="goToRegister()">Regístrate aquí</a>
        </div>
    </div>
</div>